@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
  background: rgb(146, 186, 187);
}

body {
  text-align: center;
  background: whitesmoke;
  font-family: 'Poppins', sans-serif;
  margin: 2vw 2vw;
  font-size: 2vw;
  color: black;
}

.App {
  text-align: center;
  background: white;
  border: 2px solid black;
  border-radius: 2px;
}

.App .heading {
  background: black;
  border: 3px solid white;
  font-size: 5vmin;
  text-align: left;
  padding: 0% 1%;
  height: 100%;
  width: auto;
  overflow: hidden;
}

.title {
  color: white;
  font-size: 5vmin;
  padding-left: 2%;
  text-align: left;
  width: auto;
}

.border {
  border: 2px solid white;
}

.headerbtn {
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 0% 2vw;
  text-align: center;
  text-decoration: none;
  float: right;
}

.headerbtn:hover {
  color: white;
  background-color: #666;
}

.products {
  height: auto;
  display: flex;
  background: linear-gradient(rgba(55, 82, 75, 0.3), rgba(36, 51, 47, 0.9));
  border: 2px solid white;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}

.product {
  padding: 2vw;
  margin: 1vw 1vw;
  border-radius: 10px;
  min-width: 20%;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 3px;
}